################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/data-structures-and-algorithms/FileContentIndex/293206d4-ec28-43e0-bec4-cd303e1e58de.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/314bd73c-d840-450e-aee1-938ae0a001cc.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/2e298a0b-4c70-4ca2-98f4-f255aebb7db8.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/4502c6ca-f891-4c32-8723-600114806172.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/5c9df8dd-5c97-436f-b55d-a95a5521c1ac.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/afd2696f-ba2f-4e34-8890-dea852eb6e5f.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/ddfa6a65-f48f-4c63-812b-292336eb2499.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/f4fed665-cf47-46e5-9bf8-1f4a537d375e.vsidx
/.vs/data-structures-and-algorithms/FileContentIndex/7fdd852f-cba1-4643-98d3-c12ddb984ddf.vsidx
/.vs/data-structures-and-algorithms/v17/.wsuo
/.vs/VSWorkspaceState.json
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/DesignTimeBuild/.dtbcache.v2
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/FileContentIndex/058d83ba-5a7a-4490-8d6c-efc23d7ef578.vsidx
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/FileContentIndex/392f29bd-d6f8-4560-9b62-14238b38d1c7.vsidx
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/FileContentIndex/74d16f1f-fe87-468c-8d71-64358b452baa.vsidx
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/FileContentIndex/7c9941f7-0698-4a3e-b3f6-4bb2a3e5530d.vsidx
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/FileContentIndex/8aee90d5-98fa-41c4-a606-2020a0ffd15b.vsidx
*.vsidx
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/FileContentIndex/fd7505b0-43f8-4a8f-947e-2a1fcfe2da4b.vsidx
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/v17/TestStore/0/000.testlog
/Challenge26-InsertionSort/.vs/Challenge26-InsertionSort/v17/.suo
*.wsuo
